<div class="container">

    <div class="fs-1 m-5"><i class="fa-solid fa-graduation-cap m-1"></i>How to create your NFT<div class="fs-6">Creating
            your NFT can be done if a few easy steps
        </div>
    </div>
    <hr />
    <div class="row m-3">
        <div class="col-md-3 d-flex align-items-center">
            <i class="bi bi-1-circle fa-10x"></i>
            <div class="p-2 border-bottom">
                Choose a file and add you details
            </div>
        </div>
        <div class="col-md-9 card mb-3">

            <div class="d-flex justify-content-evenly row">
                <div class="p-2 col">
                    <img class="img-fluid" src="assets/howto-NFT-form-crop.png" alt="filled nft detail form">
                </div>
                <div class="p-2 col">
                    <ol>
                        <li class="m-3">
                            <span class="font-weight-bold">Choose file</span> you wish to turn into an NFT.
                            This does not need to be a image. You can make an NFT out of any file
                        </li>
                        <li class="m-3">
                            <span class="font-weight-bold">Your wallet address</span> is the address that will recieve the NFT 
                            when created. This is a address you own and control
                        </li>
                        <li class="m-3">
                            <span class="font-weight-bold">Name</span> your NFT and add any extra <span class="font-weight-bold">Attributes</span> 
                            your want attached when the NFT is created
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-3">
        <div class="col-md-3 d-flex align-items-center">
            <i class="bi bi-2-circle fa-10x"></i>
            <div class="p-2 border-bottom">
                Submit payment
            </div>
        </div>
        <div class="col-md-9 card mb-3">


            <div class="d-flex justify-content-evenly row">
                <div class="p-2 col">
                    <img class="img-fluid" src="assets/howto-NFT-payment-crop.png" alt="filled nft detail form">
                </div>
                <div class="p-2 col">
                <ol>
                    <li class="m-3">
                        Send the <span class="font-weight-bold">Total</span> amount of ADA to the 
                        <span class="font-weight-bold">Cardano payment address</span>. 
                        You can either scan the QR code or copy the address
                    </li>
                    <li class="m-3">
                        The Cardano <span class="font-weight-bold">Total</span> is the sum of 
                        <span class="font-weight-bold">Cardano fee</span> and <span class="font-weight-bold">Cunft fee.</span>  
                        <span class="font-weight-bold">Cardano fee</span> is the fee for using the cardano network. 
                        <span class="font-weight-bold">Cunft fee </span> is the fee we charge to offer you this service
                    </li>
                    <li class="m-3">
                        The <span class="font-weight-bold">Received</span> value is how much has been sent to the payment address. 
                        Please eremember it may take 1-2 minutes for the payment to update.
                    </li>
                </ol>
                </div>
            </div>
        </div>
    </div>
</div>