<div class="container">

    <div class="m-3">
        <div class="row justify-content-md-center fs-2 ">Status</div>
    </div>

    <div class="fw-bold" *ngIf="health">
      <div class="row justify-content-md-center fs-1">{{health.status}}</div>
      <div class="row justify-content-md-center fa-solid fa-circle-check display-1 text text-success"></div>
        <div class="row justify-content-md-center m-3 p-3 border fs-6 bg-white rounded">

            <div class="col-md-6">Cardano Wallet</div>
            <div class="col-md-4">
                <div *ngIf="health.components.cardanoWalletAPI.details.ready != 'null'">Sync:
                    {{health.components.cardanoWalletAPI.details.ready}}</div>
            </div>
            <div class="col-md-2" [ngClass]="health.components.diskSpace.status == 'UP' ? 'text-success' : 'text-danger'" >Status: {{health.components.cardanoWalletAPI.status}}</div>
        </div>
        <div class="row justify-content-md-center m-3 p-3 border bg-white rounded">
            <div class="col-md-6">Database</div>
            <div class="col-md-4"></div>
            <div class="col-md-2" [ngClass]="health.components.diskSpace.status == 'UP' ? 'text-success' : 'text-danger'" >Status: {{health.components.mongo.status}}</div>
        </div>
        <div class="row justify-content-md-center m-3 p-3 border bg-white rounded">
            <div class="col-md-6">Disk</div>
            <div class="col-md-4">Space: {{health.components.diskSpace.details.free}}</div>
            <div class="col-md-2" [ngClass]="health.components.diskSpace.status == 'UP' ? 'text-success' : 'text-danger'" >Status: {{health.components.diskSpace.status}}</div>
        </div>
        <div class="row justify-content-md-center m-3 p-3 border bg-white rounded">
            <div class="col-md-6">Ping</div>
            <div class="col-md-4"></div>
            <div class="col-md-2" [ngClass]="health.components.diskSpace.status == 'UP' ? 'text-success' : 'text-danger'" >Status: {{health.components.ping.status}}</div>
        </div>
    </div>

    <div class="row justify-content-md-center fs-6 " *ngIf="!health && getHealthCall?.closed">
        <div class="row justify-content-md-center fa-solid fa-circle-xmark display-1 text text-danger">
        </div>
        <div class="col-md-4 m-3 bg-white p-3 shadow-lg rounded border">Sorry, it looks like we are unable to contact the server.
                If issue persists please <a href="/contact">contact us</a>
        </div>
    </div>
</div>
