<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
        <div class="text-center">
            <img class="mb-4" src="assets/cunft-logos_pink.png" style="width: 250px" />
            <h5>Contact us on via twitter or email.</h5>

            <h4 class="mb-3">
                <a href="https://twitter.com/cunft_" class="me-4">
                    <i class="fab fa-twitter me-3"></i>
                    Twitter
                </a>
            </h4>

            <h4 class="mb-3">
                <a href="mailto:support@cunft.app" class="me-4">
                    <i class="fas fa-envelope me-3"></i>
                    Email
                </a>
            </h4>

            <p>Thank you for using our product.</p>

        </div>
    </div>
</div>