<div class="container">

    <div class="row m-5 shadow-lg bg-white p-3 rounded justify-content-md-center d-flex align-items-center" >    
        <div class=" col-md-3 border-end ">
            <img class="img-fluid" src="assets/cunft-logo-pink.svg" alt="cunft logo"/>
        </div>
        <div class=" col-md-6 ">
            <div><a href="https://cunft.app"><span class="text-primary display-5">Cunft.app</span></a> aims to give an easy way of creating NFTs. We hope to take NFTs beyond spiritless anthropoids and provide real world uses where unique, immutable records are required. </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row m-5 shadow-lg bg-white p-3 rounded justify-content-md-center d-flex align-items-center">
        <div class="col-md-3"></div>
        <div class=" col-md-6">
            <div>Cunt.app uses the <a href="https://cardano.org/"><span class="text-primary display-6">Cardano</span></a> blockchain and <a href="https://ipfs.io/"><span class="text-primary display-6">IPFS</span></a> for its NFT creation and storage. Cardanos Proof Of Stake technology makes its more eco friendly than many of its competitors, meaning you can feel at ease not contributing to one of the worlds the largest emission sources.</div>
        </div>
        <div class="col-md-3 border-start">
            <img class="img-fluid" src="assets/cardano-ada-logo.png" alt="Cardano logo"/>
        </div>
    </div>
</div>
